{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="row">
        <form class="form-horizontal" action="{% url 'adminapp:product_create' category_pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'adminapp:products' category_pk %}" class="">
                к продуктам
            </a>
        </button>
    </div>
</main>
{% endblock %}